
.loginh1{
	text-align: center;
	color:#ffffff;
	
}
h2{
	text-align: center;
	font-family: Sans-serif;
}
h3{
	text-align: center;
}
.loginformdiv{
	background-color:#f7f7f7;
	color:#000000;
	margin: auto;
	padding-left:3em;
	padding-right:3em;
	margin-bottom:10%;
	padding-top:30px;
	padding-bottom:30px;
	font-size:1.5em;
	border-radius:3px;
	box-shadow: 1px 1px 1px grey;
	max-width:25em;
	
}
.logininput{
	color: #000000;
	font-size:1em;
	
	width:100%;
	margin-bottom:20px;
	border-radius:10px;
}
.loginsubmit{
	width:100%;
	border-radius:20px;
	font-size:1em;
	border: none;
	box-shadow: 1px 1px 1px #000000;
	background-color:#225588;
	color:#ffffff;
	
}
.signupbutt{
	border-radius:20px;
	font-size:1em;
	color: #225588;
	
	
}
.signupformdiv{
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	padding:20px;
	border:solid;
	border-width:1px;
}
.loginbody{
	background-color:#243549;
	
}
.wrong{
	color: red;
}
.margin_wrapper{
	padding:8%;
}