#mainbody{
	 background-color:#dedede;
}
.mainbody{
	background-color:#dedede !important;
}
.mainq{
	background-color:#ffffff;
	color:#000000;
	margin-left:3%;
	margin-right:3%;
	margin-bottom:3%;
	
	padding-left:3%;
	padding-right:3%;
	padding-bottom:3%;
	padding-top:3%;
	border-radius: 2px;
	box-shadow: 1px 1px 1px grey;
}
.wrong{
	color: red;
}
#popqh2{
	text-align: center;
}
.navbartext{
	color:#ffffff;
}
h1{
	text-align: center;
}
.betweenQsHr{
	width:100% ;
	
	border-top: 1px solid;
	color:black;
}
.userProfileDropdown{
	
}
.userProfileDropdown:hover .userProfileDropdownMenu{
	display: block;

}
.date_span{
	color:#777777;
}
.navbar-form {
  border: 0 !important;
  box-shadow: none !important;
  border-color: none !important;
}
.sub_navbar{
	margin: 0 !important;
}
.qn_edit_div{
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom:5%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:10%;
	padding-top:5%;
	background-color:#ffffff;
	box-shadow: 1px 1px 1px grey;
	
}
#qn_edit_body{
	background-color:#dedede;
	
}