<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>EveryonesSurvey</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>userTracker</servlet-name>
    <servlet-class>everyonesSurvey.UserTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userTracker</servlet-name>
    <url-pattern>/usertracker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recordQuestion</servlet-name>
    <servlet-class>everyonesSurvey.RecordQuestion</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>recordQuestion</servlet-name>
    <url-pattern>/recordquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayQuestion</servlet-name>
    <servlet-class>everyonesSurvey.DisplayQuestion</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayQuestion</servlet-name>
    <url-pattern></url-pattern>
    <url-pattern>/displayquestion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recordAnswer</servlet-name>
    <servlet-class>everyonesSurvey.RecordAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recordAnswer</servlet-name>
    <url-pattern>/recordanswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displaySurveyResult</servlet-name>
    <servlet-class>everyonesSurvey.DisplaySurveyResult</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displaySurveyResult</servlet-name>
    <url-pattern>/displaysurveyresult</url-pattern>
  </servlet-mapping>
</web-app>